/* app/(protected)/register-check/page.module.css */

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #f3f4f6;
}

.message {
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  color: #4b5563; /* gray-600 */
}
