.pageWrapper {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  font-family: sans-serif;
}

.darkPageWrapper {
  background-color: black;
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 48rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 4rem;
  background-color: white;
}

.darkMain {
  background-color: black;
}

@media (min-width: 640px) {
  .main {
    align-items: flex-start;
    text-align: left;
  }
}

.logo {
  filter: invert(0);
}

.darkLogo {
  filter: invert(1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

@media (min-width: 640px) {
  .content {
    align-items: flex-start;
    text-align: left;
  }
}

.title {
  max-width: 30rem;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: -0.025em;
  color: black;
}

.darkTitle {
  color: #f4f4f5;
}

.description {
  max-width: 28rem;
  font-size: 1.125rem;
  line-height: 2rem;
  color: #52525b;
}

.darkDescription {
  color: #a1a1aa;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 640px) {
  .buttons {
    flex-direction: row;
  }
}

.primaryButton {
  display: flex;
  height: 3rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 9999px;
  background-color: black;
  color: white;
  transition: background-color 0.2s;
}

.primaryButton:hover {
  background-color: #383838;
}

.darkPrimaryButton {
  background-color: white;
  color: black;
}

.darkPrimaryButton:hover {
  background-color: #ccc;
}

@media (min-width: 768px) {
  .primaryButton {
    width: 158px;
  }
}

.secondaryButton {
  display: flex;
  height: 3rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  transition: all 0.2s;
}

.secondaryButton:hover {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.04);
}

.darkSecondaryButton {
  border-color: white;
  color: white;
}

.darkSecondaryButton:hover {
  background-color: #1a1a1a;
}

@media (min-width: 768px) {
  .secondaryButton {
    width: 158px;
  }
}


